@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300;900&display=swap');

:root {
  --pink1: #ff8fdb;
  --pink2: #fd1cea;
  --pink3: #ffe5fd;
}

body {
  text-align: center;
  font-family: 'Grandstander', cursive;
  background-color: var(--pink1);
  background: radial-gradient(#ffe5fd, #ff0fbf);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  margin-top: 6vh;
  margin-bottom: 1vh;
  font-size: 5rem;
  color: var(--pink2);

  text-shadow: 2px 2px 0 var(--pink3), 2px -2px 0 var(--pink3), -2px 2px 0 var(--pink3), -2px -2px 0 var(--pink3), 2px 0px 0 var(--pink3), 0px 2px 0 var(--pink3), -2px 0px 0 var(--pink3), 0px -2px 0 var(--pink3);

}

#michael-cera-image {
  height: 60vh;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

#generate-btn {
  margin-top: 4vh;
  margin-bottom: 4vh;

  background-color: white;
  border: 0;
  border-radius: 15px;
  box-shadow: #ffccec 0px 0px 15px 5px;

  font-family: 'Grandstander', cursive;
  font-size: 2rem;
  font-weight: 300;
  color: var(--pink2);

  padding: 15px 32px;
  cursor: pointer;

  width: 12em;
  height: auto;
  transition: 0.3s;

}

#generate-btn:hover {
  transform: scale(1.2);
}